html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  padding: 30px;
  text-align: center;
  background color-adjust: ;
  color white;
}
.navbar {    color: rgb(0, 15, 151);
  border-style: solid; color:  rgb(0, 15, 151);
  text-align: center;
  background-color: rgb(180, 230, 245);
}


h1 {
  color: rgb(0, 15, 151);
  text-align: center;
  size: 30px;
}

h2 {
  color: rgb(0, 15, 151);
  text-align: center;
  background-color: rgb(180, 230, 245)
  size: 30px;
}

#umar1 {
  border-radius: 100px;
  display: block;
  width: 20%;
  object-fit: cover;
}

#umar2 {
  border-radius: 600px;
  display: block;
  width: 300x;
  align-items: center;
}

li {
  color: rgb(0, 15, 151);
  size: 15px;
}
p {
  color: rgb(0, 15, 151);
  size: 15px;
  text-align: center;
}
#Quotes {
  color: aliceblue;
}

blockquote {
  color: aliceblue;
  text-align: center;
}
